.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

.line {
    width: 100%;
    border-top: 3px solid #222;
    position: absolute;
    z-index: 1;
    
}

.box {
    height: 100px;
    width: 100px;
    background-color: rgb(230, 51, 35);
    border-radius: 50%;

    position: absolute;
    z-index: 2;

    animation: move 0.8s ease infinite;
}

@keyframes move {
    0% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(-250px);
    }

    100% {
        transform: translateY(-30px);
    }
}