body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
}
