.box{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    border-top: 5px solid black;
    border-radius: 50px;
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    /* transition:  transition-property transition-duration transition-timing-function transition-delay*/
    /* transition: transform 2s ease 0s;  */

    animation: move 1s ease infinite;
}

/* .box:hover{
    transform: rotate(45deg) scale(1.1) translate(100px);

    transform: rotate(360deg);
    transform: scale(1.1);
    transform: translate(100px);
} */

@keyframes move {
    /* from{
        transform: translate(0px);
    }
    to{
        transform: translate(100px);
    } */

    0% {
        transform: translate(0px);
    }

    /* 30% {
        transform: translate(200px) rotate(180deg);
    }

    50% {
        transform: translate(200px, 200px) rotate(90deg);
    }

    70% {
        transform: translate(0px, 200px) rotate(180deg);
    } */

    100% {
        transform: translate(0px) rotate(360deg);
    }
    
}