body {
    margin: 0;
    font-family: Arial;
}

header {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

.blog {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    padding: 20px;
}

article, aside {
    padding: 10px;
    margin: 0;
    background-color: #eee;
}

article p {
  margin: 0;
  padding-bottom: 8px;
  height: auto;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}
