body {
    font-family: Arial;
    text-align: center;
}

.container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.tooltip {
    position: relative;
    padding: 15px 20px;
    background-color: lightblue;
    cursor: pointer;
}

.tooltip-text {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 8px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
}