body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    animation: move 2s ease-in-out infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-80px);
    }
}