body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: white;
}

.list-group {
    max-width: 800px;
    margin: auto;
}

.list-group-item {
    padding: 18px;
}

footer {
    margin-top: 30px;
}